 @{
    ViewData["Title"] = "Home Page";
     Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Justin's Junk</h1>
    <p>Taking care of peoples junk for over 20 years.</p>
</div>
<img src="https://kaypark.com/wp-content/uploads/2018/04/CG32.png" alt="Trashcan" style="width:100px; height=100px"/>
