@model TrashServiceWebsite.Models.Customer

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label">Street Address</label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label">Zip Code</label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayToPickUp" class="control-label">Day To Pick Up</label>
                <select asp-for="DayToPickUp" class="form-control">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
                <span asp-validation-for="DayToPickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OneTimePickUp" class="control-label">One Time Pick Up</label>
                <select asp-for="OneTimePickUp" class="form-control">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
                <span asp-validation-for="OneTimePickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartOfSuspension" class="control-label">Start Date Of Suspension</label>
                <input asp-for="StartOfSuspension" class="form-control" />
                <span asp-validation-for="StartOfSuspension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOfSupspension" class="control-label">End Date Of Suspension</label>
                <input asp-for="EndOfSupspension" class="form-control" />
                <span asp-validation-for="EndOfSupspension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Dashboard</a>
    <a asp-action="Delete">Delete Profile</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
